@model IEnumerable<SonOfCod.Models.Subscriber>
@using System.Security.Claims


@if (User.Identity.IsAuthenticated)
{

    @if (Model.Any())
    {
        <h2>Here is the list of all Subscribers, @User.Identity.Name</h2>
        <hr />

        <ul>
            @foreach (var listItem in Model)
            {
                <li>@Html.DisplayFor(modelItem => listItem.Name), @Html.DisplayFor(modelItem => listItem.Email)</li>
            }
        </ul>
    }
    else
    {
        <p>No one has Subscribed yet!</p>
    }
        <p>Hello @User.Identity.Name!</p>
        @using (Html.BeginForm("LogOff", "Account"))
    {
            <input type="submit" class="btn btn-default" value="Log out" />
    }
    <p>@Html.ActionLink("Home", "Index", "")</p>
}
else
{
    <h3>You must log in to view subscibers </h3>
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}